<div class="register">
  <div class="register-container">
    <h2>Register</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="registerData.name"
          required
          placeholder="Enter your name"
        />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="registerData.email"
          required
          placeholder="Enter your email"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="registerData.password"
          required
          placeholder="Enter your password"
        />
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="registerData.confirmPassword"
          required
          placeholder="Confirm your password"
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="
          registerForm.invalid ||
          registerData.password !== registerData.confirmPassword
        "
      >
        Register
      </button>
      <button
        style="margin-top: 10px"
        type="button"
        class="btn btn-danger w-100 mt-2"
        (click)="loginWithGoogle()"
      >
        <img src="assets/google-icon.png" width="20" class="me-2" /> Sign in
        with Google
      </button>
    </form>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Login Link -->
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>
