:root {
    
    --primary-color: #FF6F61;   
    --secondary-color: #F0E6F6 ; 
    --white-color:#ffffff;
    
    
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    
    font-size: 12px; 
  }
  
 